streamlit==1.31.0
numpy==1.23.5  # Changed to more compatible version
pandas==1.5.3  # Updated to match numpy
scipy==1.10.1
scikit-learn==1.0.2  # Earlier version for better compatibility
xgboost==1.7.3
plotly==5.18.0
plotly-express==0.4.1
joblib==1.2.0
threadpoolctl==2.2.0
pickle5==0.0.12
